.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
hundirlaflota/.vscode/c_cpp_properties.json
hundirlaflota/.vscode/launch.json
hundirlaflota/.vscode/settings.json
hundirlaflota/vcpkg/
hundirlaflota/puntuaciones.txt
hundirlaflota/main.exe
hundirlaflota/build/Debug/outDebug.exe
hundirlaflota/build/Debug/main.o
hundirlaflota/.vscode/tasks.json
